In [5]:
# Bismillah

In [2]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('precision', 7)
from pandas_datareader import data

ModuleNotFoundError: No module named 'pandas_datareader'

In [14]:
type(2014-8-1)
# it looks date to us, but for pandas, it is just an int. So, the operations permitted on date cannot be performed
# on this int.
# If we enter date in this format in datetime function, shown below, then we will get error since pandas does not
# recognize date in this format as a date.

int

In [15]:
datetime.datetime(2014, 8, 1, 9, 30, 45, 100000)
# datetime object created. So, relevant operations can be performed on it now.
# year, month, day, hours, minutes, seconds, and microseconds must be seperated by a comma.

datetime.datetime(2014, 8, 1, 9, 30, 45, 100000)

In [16]:
type(datetime.datetime(2014, 8, 1, 9, 30, 45, 100000))

datetime.datetime

In [17]:
dates = [datetime.datetime(2014, 8, 1), datetime.datetime(2014, 8, 2)]
dates
# a list of datetime objects created.

[datetime.datetime(2014, 8, 1, 0, 0), datetime.datetime(2014, 8, 2, 0, 0)]

In [18]:
type(dates)

list

In [19]:
type(dates[0])

datetime.datetime

In [20]:
dti = pd.DatetimeIndex(dates)
dti
# datetime index created from a list of datetime objects. Each item in DatetimeIndex is an object of Timestamp class.

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [21]:
type(dti)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
type(dti[0])

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
ts = pd.Series(np.random.randn(2))
ts
# the index is zero-based integer index.

0   -0.6860686
1   -1.6371043
dtype: float64

In [24]:
type(ts)

pandas.core.series.Series

In [25]:
ts1 = pd.Series(np.random.randn(2), dates)
ts1
# the index is datetime index rather than zero-based integer index.
# a series will automatically construct a DatetimeIndex as its index when passing a list of datetime objects (dates)
# as the index parameter.

2014-08-01   -0.0411859
2014-08-02    0.3355235
dtype: float64

In [26]:
type(ts1)

pandas.core.series.Series

In [27]:
ts2 = pd.Series(np.random.randn(2), dti)
ts2
# here we have directly passed the DatetimeIndex as the index parameter.

2014-08-01    0.2173846
2014-08-02    0.1012712
dtype: float64

In [28]:
type(ts2)

pandas.core.series.Series

In [29]:
ts2.index
# the index of the series is DatetimeIndex as can be confirmed from the following type command.

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [30]:
type(ts2.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [31]:
# Important: The series object has taken the datetime objects (contained in the variable, dates) and constructed a 
# DatetimeIndex from the date values contained in the datetime objects. Each value of the DatetimeIndex is the 
# Timestamp object and each element (Timestamp) of the DatetimeIndex can be used to access the corresponding value in
# the Series object. This is demonstrated in the following:

In [32]:
ts2

2014-08-01    0.2173846
2014-08-02    0.1012712
dtype: float64

In [33]:
ts2['2014-08-01']
# first row retreived using [] without slicing, loc or iloc. It is possible because there is only one column since
# this is a series. So, all we can give is an argument for a row or rows so pandas doesn't get confused.

0.21738457604956102

In [34]:
ts2['2014-08-01':'2014-08-02']
# the end date is inclusive.

2014-08-01    0.2173846
2014-08-02    0.1012712
dtype: float64

In [35]:
ts2[datetime(2014, 8, 1)]
# instead of using the date in the string with - seperator, we can use the date with , seperator without '' to produce
# the same output.

TypeError: 'module' object is not callable

In [36]:
# The next method to create DatetimeIndex by passing a list of dates in string as shown below:

In [37]:
dates = ['2014-08-01', '2014-08-02']
dates

['2014-08-01', '2014-08-02']

In [38]:
type(dates)
# list of strings.

list

In [39]:
type(dates[0])
# the first element (date) in the list is of type string and the same is the second element.

str

In [40]:
ts3 = pd.Series(np.random.randn(2), dates)
ts3
# here dates as a string have been passed as an index argument. But the pandas itself figured out that these are dates
# and converted them into DatetimeIndex as shown below.

2014-08-01    1.2958548
2014-08-02   -0.9503973
dtype: float64

In [41]:
type(ts3.index)

pandas.core.indexes.base.Index

In [42]:
# convert a list of mixed type items/elements into DatetimeIndex using pandas' function, to_datetime().

In [43]:
dti2 = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None])
dti2
# note that all are strings in the list except the keyword, None.
# all the strings have been converted into DatetimeIndex (pandas recognized dates as shown below:)
# None has been converted into NaT (not a time-value), which means that the source data could not be converted into
# datetime.

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [44]:
type(dti2)

pandas.core.indexes.datetimes.DatetimeIndex

In [45]:
#dti3 = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', 'foo'], coerce = True)
# gives error. pandas cannot parse 'foo' since it does not seem like a date. Previously, pandas recognized the keyword
# None, so didn't give the error and produced NaT. Also, the coerce parameter is not working here unlike in the book.

In [46]:
# Changing the date order: The default order is

In [47]:
dti = pd.to_datetime(['2014, 8, 1'])
dti
# 8 is taken as a month and 1 as a date.

DatetimeIndex(['2014-08-01'], dtype='datetime64[ns]', freq=None)

In [48]:
dti = pd.to_datetime(['8, 1, 2014'])
dti
# same result produced, 8 is the month and 1 is the date.

DatetimeIndex(['2014-08-01'], dtype='datetime64[ns]', freq=None)

In [49]:
dti = pd.to_datetime(['8, 1, 2014'], dayfirst = True)
dti
# if we mean to say that the date is 8th of January, then we have to tell pandas that the first argument is the day or
# date by typing 'dayfirst = True' since by default pandas will treat the first value as the month and the second as
# a day or date.
# now the date is 8th of January as we desired.

DatetimeIndex(['2014-01-08'], dtype='datetime64[ns]', freq=None)

In [50]:
dti[0]

Timestamp('2014-01-08 00:00:00')

In [51]:
# Using date_range function to create DatetineIndex (a series of TimeStamps):

In [52]:
dates = pd.date_range('8, 1, 2014', periods = 10)
dates

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

In [53]:
s1 = pd.Series(np.random.randn(10), dates)
s1

2014-08-01   -0.0765983
2014-08-02   -0.3068625
2014-08-03   -1.4217217
2014-08-04   -1.5935293
2014-08-05   -0.2325901
2014-08-06   -0.4121440
2014-08-07    1.0286102
2014-08-08   -0.3636176
2014-08-09   -0.2478805
2014-08-10    2.0899170
Freq: D, dtype: float64

In [54]:
s1.index

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

In [55]:
type(s1.index)

pandas.core.indexes.datetimes.DatetimeIndex

# S&P 500 Example:

In [56]:
msft = data.DataReader('MSFT', 'yahoo', '2012-1-1', '2013-12-30')
msft[:5]

NameError: name 'data' is not defined

In [57]:
msft.loc['2012-01-03']
# Thus, using DatetimeIndex, any desirable part of the dataframe can be accessed for any period.

NameError: name 'msft' is not defined

In [58]:
msftAC = msft['Adj Close']
msftAC.head(5)

NameError: name 'msft' is not defined

In [59]:
msftAC['2012-01-03']
# Nothe that msftAC is a series, therefore, a row index (which is DatetimeIndex) can be used with [] without slicing, 
# loc or iloc.

NameError: name 'msftAC' is not defined

In [60]:
msftAC['2012-01-01':'2012-01-05']
# DatetimeIndex can easily allow access to any chunk of dataframe for any desirable period.

NameError: name 'msftAC' is not defined

In [61]:
msft['2012-02']
# Note that this didn't require the use of the .loc method, as pandas first identifies this as a partial date and then
# looks along the index of the dataframe instead of column (although .loc can be used to perform the same operation).

NameError: name 'msft' is not defined

In [62]:
msft['2012-02':'2012-02-09']
# the slice will start at the beginning of the month.

NameError: name 'msft' is not defined

# Creating time-series with specific frequencies:

In [66]:
dates = pd.date_range('2014-08-01', '2014-10-29 23:59:00', freq = 'T')
dates
# create DatetimeIndex with hourly frequency. The default is 'D' for daily. Weekly, monthly etc is also possible.

DatetimeIndex(['2014-08-01 00:00:00', '2014-08-01 00:01:00',
               '2014-08-01 00:02:00', '2014-08-01 00:03:00',
               '2014-08-01 00:04:00', '2014-08-01 00:05:00',
               '2014-08-01 00:06:00', '2014-08-01 00:07:00',
               '2014-08-01 00:08:00', '2014-08-01 00:09:00',
               ...
               '2014-10-29 23:50:00', '2014-10-29 23:51:00',
               '2014-10-29 23:52:00', '2014-10-29 23:53:00',
               '2014-10-29 23:54:00', '2014-10-29 23:55:00',
               '2014-10-29 23:56:00', '2014-10-29 23:57:00',
               '2014-10-29 23:58:00', '2014-10-29 23:59:00'],
              dtype='datetime64[ns]', length=129600, freq='T')

In [67]:
np_array = np.arange(0, 90 * 60 * 24)
np_array

array([     0,      1,      2, ..., 129597, 129598, 129599])

In [65]:
bymin = pd.Series(np_array, dates)
bymin
# the first argument for the values of the series and the second one is for the index of the series.

2014-08-01 00:00:00         0
2014-08-01 00:01:00         1
2014-08-01 00:02:00         2
2014-08-01 00:03:00         3
2014-08-01 00:04:00         4
                        ...
2014-10-29 23:55:00    129595
2014-10-29 23:56:00    129596
2014-10-29 23:57:00    129597
2014-10-29 23:58:00    129598
2014-10-29 23:59:00    129599
Freq: T, Length: 129600, dtype: int32

In [ ]:
bymin['2014-08-01 12:30:00':'2014-08-01 12:59']
# the data can be extracted to the minute details.

### Representing intervals of time using periods:
#### Period () method is used to determine a period starting and ending at the desired dates with the specified frequencies.

In [68]:
aug2014 = pd.Period('2014-08', freq = 'M')
aug2014
# period('2014-08', 'M') contains only two dates, 1st and 31 of Aug, 2014 since the frequency is monthly.

Period('2014-08', 'M')

In [69]:
aug2014.start_time, aug2014.end_time
# pandas assumes the start date to be 1st of Aug, when only month (partial date) is mentioned. Then using the one 
# month frequency, it figures the end date to be 31st of Aug.

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-31 23:59:59.999999999'))

In [70]:
sep2014 = aug2014 + 1
sep2014
# operators overloading when plus sign in this carries a different meaning and operation that it's usual behaviour.
# In this case, addition of 1 to aug2014 will create the next month (sep2014) since the existing period (aug2014) is 
# based on a monthly frequency. If it were based on a quarterly frequency, then +1 will create next quarter.

Period('2014-09', 'M')

In [71]:
sep2014.start_time, sep2014.end_time
# note that the pandas itself has figured out that September has 30 days unlike Aug that ended with the date 31.

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

In [72]:
# Period Objects: can be combined to form a PeriodIndex as shown below:

In [73]:
mp2013 = pd.period_range('2013-01-01', '2013-12-31', freq = 'M')
mp2013
# PeriodIndex has been created as shown below and confirmed in the type command.
# In PeriodIndex, the index labels are period objects whereas in DatetimeIndex the index labels are TimeStamps.

PeriodIndex(['2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12'],
            dtype='period[M]', freq='M')

In [74]:
type(mp2013)

pandas.core.indexes.period.PeriodIndex

In [ ]:
type(mp2013[0])
# PeriodIndex contains period objects.

In [ ]:
for p in mp2013:
    print ("{0} {1} {2} {3}".format(p, p.freq, p.start_time, p.end_time))
# first '2013-01' is taken from 'mp2013' and put in p, then print is executed. In print, the {} represents placeholders
# for what comes in () after format. For instance,p relates with {0}, p.freq relates with {1} and so on. Note that the
# PeriodIndex has Period objects as can be seen immediately above. Therefore, they have the property of .start_time and
# .end_time.

In [ ]:
s = np.random.randn(12)
s

In [ ]:
pandas_series = pd.Series(s, mp2013)
pandas_series
# this series has index labels containing Period Objects so the index is PeriodIndex rather than DatetimeIndex.
# this type of indexing is especially helpfull when we are interested in finding average prices each month rather than
# prices at specific dates.